.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #0b6aff;
  color: #fff;
  height: 52px;
  font-size: 15px;
  letter-spacing: 0.05rem;
}

.logo {
  margin-left: 16px;
  float: left;
}

.searchbar {
  margin-left: auto;
  margin-right: auto;
  min-width: min(60vw, 400px);
  border-radius: 30px;
  background: white;
  border: 1px solid;
}
.searchbar .searchbox {
  padding: 5px 31px 5px 35px;
  border-radius: 30px;
  border: none;
}

.suggestionlist {
  color: #424242;
  width: 90%;
  margin-left: 5%;
}

.display {
  display: flex;
  margin-top: 60px;
}

.leftSidebar {
  width: 320px;
  height: 100%;
  padding: 15px 20px;
  position: fixed;
  left: 0;
  right: 0;
  border-right: 1px solid #f0f0f0;
  height: 100vh;
  overflow: auto;
}

.leftSidebar > div {
  margin: 40px 0;
}

@media all and (max-width: 768px) {
  .leftSidebar {
    position: static;
    width: 100%;
    height: auto;
    border-right: 0;
    border-bottom: 1px solid #f0f0f0;
  }
}

.author .author-list {
  max-height: 150px;
}

.mainBar {
  width: calc(100% - 320px);
  position: relative;
  left: 320px;
  padding: 0px 30px;
  background-color: #fefefe;
}

.result-data .result-image {
  background-size: cover;
  max-height: 200px;
}

.result-author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-addon {
  border-radius: 0 !important;
  border: none !important;
  background: transparent !important;
}
.focus-shortcut {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border-radius: 0;
  box-shadow: inset 0px -2px 0px 1px #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgb(30 35 90 / 40%);
  color: #969faf;
  height: 24px;
  margin-right: 0.4em;
  padding-bottom: 2px;
  position: relative;
  top: -1px;
  min-width: 24px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  cursor: default;
  border: none;
  padding-bottom: 4px;
  background-color: transparent;
}

/* Responsive styling */
@media (max-width: 768px) {
  .input-addon {
    display: none;
  }
}
