.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #0B6AFF;
  color: #fff;
  height: 52px;
  font-size: 15px;
  letter-spacing: 0.05rem;
}

.logo {
  margin-left: 16px;
  float: left;
}

.datasearch {
  margin-left: auto;
  margin-right: auto;
}

.datasearch .searchbox {
  min-width: 400px;
  border-radius: 30px;
  padding: 5px 16px 5px 30px;
}

.suggestionlist {
  color: #424242;
  width: 90%;
  margin-left: 5%;
}

.display {
  display: flex;
  margin-top: 60px;
}

.leftSidebar {
  width: 320px;
  height: 100%;
  padding: 15px 20px;
  position: fixed;
  left: 0;
  right: 0;
  border-right: 1px solid #f0f0f0;
}

.leftSidebar > div {
  margin: 40px 0;
}

@media all and (max-width: 768px) {
  .leftSidebar {
    position: static;
    width: 100%;
    height: auto;
    border-right: 0;
    border-bottom: 1px solid #f0f0f0;
  }
}

.author .author-list {
  max-height: 150px;
}

.mainBar {
  width: calc(100% - 320px);
  position: relative;
  left: 320px;
  padding: 0px 30px;
  background-color: #fefefe;
}

.result-data .result-image {
  background-size: cover;
  max-height: 200px;
}

.result-author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
